@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Island+Moments&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

.fonts {
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: normal;
}

/* @keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.animate {
  white-space: nowrap;
  width: 300%;
  top: 50%;
  transform: translate(0, -50%);
  animation: marquee 10s linear infinite;
} */
